*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(123, 209, 243);
}
main{
    width: 70%;
    margin: auto;
    background-color: rgb(242, 247, 243);
    height: 100vh;
    margin-top: 30px;
    padding: 18px;
    border-radius: 15pt;
}
header{
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
fieldset{
    background-color: rgb(69, 231, 236);
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 130px;
    padding: 10px;
    border-radius: 15pt;
}
input{
    border-radius: 5pt;
    padding: 2px;
    float: right;
}
li a{
    text-decoration: none;
    display: block;
    color: rgb(49, 134, 168);
    background-color: rgb(211, 236, 236);
    border-radius: 7pt;
    padding: 7px;
    font-weight: bold;
    width: 80px;
    text-align: center;
}
@media only screen and (max-width: 500px) {
    fieldset{
    background-color: rgb(69, 231, 236);
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 130px;
    padding: 10px;
    border-radius: 15pt;
}
  }
  @media only screen and (max-width: 375px) {
    fieldset{
    background-color: rgb(69, 231, 236);
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 130px;
    padding: 10px;
    border-radius: 15pt;
}
  }

@media only screen and (max-width: 311px) {
  fieldset{
  background-color: rgb(69, 231, 236);
  margin-top: 20px;
  margin-left: 0;
  margin-right: 130px;
  padding: 10px;
  border-radius: 15pt;
}

nav ul{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
}
nav ul li{
    text-align: center;
    margin: auto;
}
}